
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimAlerte</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        @if ((AnimAlerte.Controllers.UtilisateursController.usersession != null) && (AnimAlerte.Controllers.UtilisateursController.admin == 0))
        {
            <nav class="navbar navbar-expand-lg navbar-light bg-danger">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Annonces" asp-action="Index">
                        <img src="/images/animalerte-logo3.png" height="50" alt="AnimAlerte">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-light" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Annonces" asp-action="AllAnnoncesUser"> @localizer["Accueil"]</a>
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Utilisateurs" asp-action="Index">@localizer["Profil"]</a>
                            <a class=" nav-item nav-link text-white" asp-area="" asp-controller="Animals" asp-action="AjoutAnimal">@localizer["AjoutAnimal"]</a>
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Annonces" asp-action="Create">@localizer["PublierAnnonce"]</a>
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Annonces" asp-action="TousMesAnnonces">@localizer["MesAnnonces"]</a>
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Animals" asp-action="MesAnimaux">@localizer["MesAnimaux"]</a>
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="DetailsContacts" asp-action="Index">@localizer["ContactFavorit"]</a>
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Utilisateurs" asp-action="Login">@localizer["Deconnexion"]</a>
                        </div>
                        <div class="navbar-nav ms-auto form-inline">
                            <form asp-action="Index" asp-controller="Utilisateurs" method="post">
                                <button type="submit" class="btn btn-outline-danger text-white">
                                    @localizer["Logged"] @AnimAlerte.Controllers.UtilisateursController.usersession
                                </button>
                            </form>
                            <partial name="_Culture" />
                        </div>
                    </div>
                </div>
            </nav>
        }
        @if ((AnimAlerte.Controllers.UtilisateursController.usersession != null) && (AnimAlerte.Controllers.UtilisateursController.admin == 1))
        {
            <nav class="navbar navbar-expand-lg navbar-light bg-danger">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Annonces" asp-action="Index">
                        <img src="/images/animalerte-logo3.png" height="50" alt="AnimAlerte">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-light" id="navbarCollapse">
                        <div class="navbar-nav">
                            @*<a class="nav-item nav-link text-white" asp-area="" asp-controller="Annonces" asp-action="AllAnnoncesAdmin">@localizer["Accueil"]</a>*@
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Administrateurs" asp-action="Create">@localizer["AjouterAdmin"]</a>
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Annonces" asp-action="AllAnnoncesAdmin">@localizer["ListeAnnonces"]</a>
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Annonces" asp-action="RechercheAnnonce">@localizer["RechercheAnnonce"]</a>
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Utilisateurs" asp-action="RechercheUtilisateur">@localizer["RechercheUtilisateur"]</a>
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Administrateurs" asp-action="Index">@localizer["ListeAdmin"]</a>
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Utilisateurs" asp-action="Logout">@localizer["Deconnexion"]</a>
                            @*<form asp-action="Logout" asp-controller="Utilisateurs" method="post">
                                <button type="submit" class="btn btn-primary text-white">
                                    @localizer["Deconnexion"]  @AnimAlerte.Controllers.UtilisateursController.usersession
                                </button>
                            </form>*@
                        </div>
                        <div class="navbar-nav ms-auto form-inline">
                            <form asp-action="Index" asp-controller="Utilisateurs" method="post">
                                <button type="submit" class="btn btn-outline-danger text-white">
                                    @localizer["Logged"] @AnimAlerte.Controllers.UtilisateursController.usersession
                                </button>
                            </form>
                            <partial name="_Culture" />
                        </div>
                    </div>
                </div>
            </nav>
        }
        @if (AnimAlerte.Controllers.UtilisateursController.usersession == null)
        {
            <nav class="navbar navbar-expand-lg navbar-light bg-danger">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Annonces" asp-action="Index">
                        <img src="/images/animalerte-logo3.png" height="50" alt="AnimAlerte">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-light" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Utilisateurs" asp-action="Login">@localizer["SeConnecter"]</a>
                        </div>
                        <div class="navbar-nav ms-auto form-inline">
                            <partial name="_Culture" />
                        </div>
                    </div>
                </div>
            </nav>
        }

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - AnimAlerte<a asp-area="" asp-controller="Home" asp-action="Privacy"></a>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection(name: "CreateSectionJS", required: false)
    @RenderSection(name: "DTListanimals", required: false)
</body>
</html>


