@model AnimAlerte.ViewModels.AnimalViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{
    ViewData["Title"] = localizer["AddAnimal"];
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimAlerte</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <h1>@localizer["AddAnimal"]</h1>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-controller="Animals" asp-action="AjoutAnimal" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="NomAnimal" class="control-label"></label>
                    <input asp-for="NomAnimal" class="form-control" />
                    <span asp-validation-for="NomAnimal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescriptionAnimal" class="control-label">@localizer["Description"]</label>
                    <textarea asp-for="DescriptionAnimal" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="DescriptionAnimal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Espece" class="control-label"></label>
                    <select asp-for="Espece" class="form-control">
                        <option selected disabled>@localizer["Choose"]</option>
                        <option value="Chien">@localizer["Dog"]</option>
                        <option value="Chat">@localizer["Cat"]</option>
                        <option value="Autres">@localizer["Others"]</option>
                    </select>
                    <span asp-validation-for="Espece" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="Photo" class="custom-file-input" id="photoUpload" accept="image/*" type="file" />
                        <label class="custom-file-label" for="photoUpload">@localizer["ChooseFile"]</label>
                    </div>
                    <div class="card m-2" style="width: 18rem;">
                        <div class="d-md-table-row">
                            <div id="photoPreview"></div>
                        </div>
                    </div>
                    <p id="uploadMessage"></p>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <input type="submit" value="@localizer["SaveBtn"]" class="btn btn-primary" />

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="MesAnimaux">@localizer["Back"]</a>
    </div>

    <script type="text/javascript">
        $(function () {



            $("#photoUpload").on("change", function () {
                var inputPhoto = $(this).val().split("\\").pop();
                $(this).next(".custom-file-label").html(inputPhoto);
            });



            $("#photoUpload").change(function () {
                $("#photoPreview").html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                if (regex.test($(this).val().toLowerCase())) {
                    if (typeof (FileReader) != "undefined") {
                        $("#photoPreview").show();
                        $("#photoPreview").append("<img />");
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("#photoPreview img").attr("src", e.target.result);
                            $("#photoPreview img").attr("style", "height:200px; width: 180px");
                        }
                        reader.readAsDataURL($(this)[0].files[0]);
                    } else {
                        alert("This browser does not support FileReader.");
                    }
                } else {
                    alert("Please upload a valid image file.");
                }
            });

        });
     </script>

</body>
</html>

