@model AnimAlerte.Models.Animal
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Delete";
}
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>@localizer["AreYouSure1"]  @Html.DisplayFor(model => model.NomAnimal) @localizer["AreYouSure2"]</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
           @localizer["AnimalName"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomAnimal)
        </dd>
        <dt class="col-sm-2">
            @localizer["Description"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionAnimal)
        </dd>
        <dt class="col-sm-2">
             @localizer["RegistrationDate"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateInscription)
        </dd>
        <dt class="col-sm-2">
            @localizer["Specie"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Espece)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAnimal" />
        <input type="submit" value=" @localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-action="MesAnimaux"> @localizer["MyAnimals"]</a>
    </form>
</div>
