@model AnimAlerte.Models.Animal

@{
    ViewData["Title"] = "Delete";
}
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Vous êtes sur de vouloir supprimer  @Html.DisplayFor(model => model.NomAnimal) sur votre liste?</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomAnimal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomAnimal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionAnimal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionAnimal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateInscription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateInscription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Espece)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Espece)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAnimal" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="MesAnimaux">Retour à la liste</a>
    </form>
</div>
