@model AnimAlerte.ViewModels.AnimalModifViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Details";
}

<h1>@localizer["DetailsOf"]  @Html.DisplayFor(model => model.NomAnimal)</h1>
<hr />

@if (TempData["AlertMessage"] != null)
{
    <div class=" alert alert-success">
        <strong>Succes ! </strong> @TempData["AlertMessage"]
    </div>
}

<div class="container mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                @if (Model.PhotoPath != null)
                {
                    <img src="~/uploads/@Model.PhotoPath" style="width:300px;" class="card-img img-fluid" asp-append-version="true" />
                }
                else
                {
                    <img src="~/uploads/Noimg.jpg" style="width:300px;" class="card-img img-fluid" asp-append-version="true" />
                }
            </div>
            <div class="col-md-8">
                <h3 class="card-title mt-3"> @Html.DisplayFor(model => model.NomAnimal)</h3>
                <dl class="row">
                    <dt class="col-sm-4">
                        @localizer["Description"]
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DescriptionAnimal)
                    </dd>
                    <dt class="col-sm-4">
                        @localizer["RegistrationDate"]
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DateInscription)
                    </dd>
                    <dt class="col-sm-4">
                        @localizer["Specie"]
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Espece)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Create" asp-controller="Annonces">@localizer["PublishAd"]</a> |
    <a asp-action="ModifierAnimal" asp-controller="Animals" asp-route-idAnimal="@Model.IdAnimal">@localizer["Modify"]</a> |
    <a asp-action="Delete" asp-controller="Animals" asp-route-idAnimal="@Model.IdAnimal">@localizer["Delete"]</a> |
    <a asp-action="MesAnimaux">@localizer["BackToList"]</a>
</div>


@section DTListAnimals{

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}