@model AnimAlerte.ViewModels.AnimalModifViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Détails de  @Html.DisplayFor(model => model.NomAnimal)</h1>

<div class="container mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                @if (Model.PhotoPath != null)
                {
                    <img src="~/uploads/@Model.PhotoPath" style="width:300px;" class="card-img img-fluid" asp-append-version="true" />
                }
                else
                {
                    <img src="~/uploads/Noimg.jpg" style="width:300px;" class="card-img img-fluid" asp-append-version="true" />
                }
            </div>
            <div class="col-md-8">
                <h3 class="card-title mt-3"> @Html.DisplayFor(model => model.NomAnimal)</h3>
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DescriptionAnimal)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DescriptionAnimal)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DateInscription)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DateInscription)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Espece)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Espece)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>


<div>

    <a asp-action="Create" asp-controller="Annonces" asp-route-id="@Model.IdAnimal">Publier un annonce</a> |
    @Html.ActionLink("Modifier", "ModifierAnimal", new { idAnimal = @Model.IdAnimal }) |
    @Html.ActionLink("Supprimer", "Delete", new { idAnimal = @Model.IdAnimal }) |
    <a asp-action="MesAnimaux">Retour à la liste</a>
</div>
