@model IEnumerable<AnimAlerte.Models.Animal>


@{ ViewData["Title"] = "Mes Animaux";

}

<h1>Mes Animaux</h1>
<p>
    <a asp-action="AjoutAnimal">Ajouter un animal</a>
</p>

@foreach (var item in Model)
{
    @foreach (var i in ViewBag.images)
    {
        if (i.IdAnimal == item.IdAnimal)
        {
            <div class="card" style="width: 18rem;">
                @if (i.PathImage != null)
                {
                    <img class="card-img-top img-fluid" src="~/uploads/@i.PathImage" asp-append-version="true" alt="@item.NomAnimal" />
                    <div class="card-body">
                        <h5 class="card-title">@i.TitreImage</h5>
                        <a asp-controller="Animals" asp-action="Details" asp-route-id="@i.IdAnimal" class="btn btn-primary">Voir Détails</a>
                    </div>
                }
                else
                {
                    <img class="card-img-top img-fluid" src="~/uploads/Noimg.jpg" alt="@item.NomAnimal" />
                    <div class="card-body">
                        <h5 class="card-title">@i.TitreImage</h5>
                        <a asp-controller="Animals" asp-action="Details" asp-route-id="@i.IdAnimal" class="btn btn-primary">Voir Détails</a>
                    </div>
                }
            </div>
        }
    }
}


@section DTListAnimals{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

