@model IEnumerable<AnimAlerte.Models.Animal>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = "Mes Animaux";

}

<h1>@localizer["MyAnimals"]</h1>
<hr />

<p>
    <a asp-action="AjoutAnimal">@localizer["AddAnimal"]</a> |
    <a asp-action="Create" asp-controller="Annonces">@localizer["PublishAd"]</a>
</p>
<br />

@if (TempData["AlertMessageAnimal"] != null)
{
    <div class=" alert alert-success">
        <strong>Success ! </strong> @TempData["AlertMessageAnimal"]
    </div>
}


@foreach (var item in Model)
{
    @foreach (var i in ViewBag.images)
    {
        if (i.IdAnimal == item.IdAnimal)
        {
            <div class="card m-2" style="width: 18rem;">
                <div class="d-md-table-row">
                    @if (i.PathImage != null)
                    {
                        <img class="card-img-top img-fluid" src="~/uploads/@i.PathImage" asp-append-version="true" alt="@item.NomAnimal" />
                        <div class="card-body">
                            <h5 class="card-title">@i.TitreImage</h5>
                            <a asp-controller="Animals" asp-action="Details" asp-route-idAnimal="@i.IdAnimal" class="btn btn-primary">@localizer["SeeDetails"]</a>
                        </div>
                    }
                    else
                    {
                        <img class="card-img-top img-fluid" src="~/uploads/Noimg.jpg" alt="@item.NomAnimal" />
                        <div class="card-body">
                            <h5 class="card-title">@i.TitreImage</h5>
                            <a asp-controller="Animals" asp-action="Details" asp-route-idAnimal="@i.IdAnimal" class="btn btn-primary">@localizer["SeeDetails"]</a>
                        </div>
                    }
                </div>
            </div>









        }
    }
}


@section DTListAnimals{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

