@model IEnumerable<AnimAlerte.Models.Animal>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = @localizer["MyAnimals"]; }

<h1>@localizer["MyAnimals"]</h1>
<p>
    <a asp-action="AjoutAnimal">@localizer["AddAnimal"]</a>
</p>
@if (TempData["AlertMessageAnimal"] != null)
{
    <div class=" alert alert-success">
        <strong>Success ! </strong> @TempData["AlertMessageAnimal"]
    </div>
}

<table class="table" id="myTable">
    <thead>
        <tr>
            <td scope="col">Photo</td>
            <td scope="col">
                @localizer["AnimalName"]
            </td>
            <td scope="col">
                @localizer["Description"]
            </td>
            <td scope="col">
                @localizer["RegistrationDate"]
            </td>
            <td scope="col">
                @localizer["Specie"]
            </td>
            <td scope="col"></td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr scope="row">
                @foreach (var i in ViewBag.images)
                {
                    if (i.IdAnimal == item.IdAnimal)
                    {
                        <td scope="col">
                            <a asp-action="Details" asp-route-idAnimal="@item.IdAnimal">
                                @if (i.PathImage != null)
                                {
                                    <img src="~/uploads/@i.PathImage" style="width:150px;" class="img-thumbnail" />
                                }
                                else
                                {
                                    <img src="~/uploads/Noimg.jpg" style="width:150px;" class="img-thumbnail" />
                                }
                            </a>
                        </td>
                        <td scope="col">
                            @Html.DisplayFor(modelItem => item.NomAnimal)
                        </td>
                        <td scope="col">
                            @Html.DisplayFor(modelItem => item.DescriptionAnimal)
                        </td>
                        <td scope="col">
                            @Html.DisplayFor(modelItem => item.DateInscription, "{yyyy-MM-dd}")
                        </td>
                        <td scope="col">
                            @Html.DisplayFor(modelItem => item.Espece)
                        </td>
                    }
                }
                <td>
                    <a asp-action="ModifierAnimal" asp-controller="Animals" asp-route-idAnimal="@item.IdAnimal">@localizer["Modify"]</a> |
                    <a asp-action="Delete" asp-controller="Animals" asp-route-idAnimal="@item.IdAnimal">@localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section DTListAnimals{

        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>
    }

