@model IEnumerable<AnimAlerte.Models.Animal>

@{ ViewData["Title"] = "Mes Animaux"; }

<h1>Mes Animaux</h1>
<p>
    <a asp-action="AjoutAnimal">Ajouter un animal</a>
</p>
<hr />
<p class="alert-danger">@ViewBag.Message</p>
<table class="table" id="myTable">
    <thead class="thead-dark table-hover table-dark">
        <tr>
            <td scope="col">Photo</td>
            <td scope="col">
                @Html.DisplayNameFor(model => model.NomAnimal)
            </td>
            <td scope="col">
                @Html.DisplayNameFor(model => model.DescriptionAnimal)
            </td>
            <td scope="col">
                @Html.DisplayNameFor(model => model.DateInscription)
            </td>
            <td scope="col">
                @Html.DisplayNameFor(model => model.Espece)
            </td>
            <td scope="col">Opérations</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr scope="row">
                @foreach (var i in ViewBag.images)
                {
                    if (i.IdAnimal == item.IdAnimal)
                    {
                        <td scope="col">
                            <a asp-action="Details" asp-route-id="@item.IdAnimal">
                                @if (i.PathImage != null)
                                {
                                    <img src="~/uploads/@i.PathImage" style="width:150px;" class="img-thumbnail" />
                                }
                                else
                                {
                                    <img src="~/uploads/Noimg.jpg" style="width:150px;" class="img-thumbnail" />
                                }
                            </a>
                        </td>
                        <td scope="col">
                            @Html.DisplayFor(modelItem => item.NomAnimal)
                        </td>
                        <td scope="col">
                            @Html.DisplayFor(modelItem => item.DescriptionAnimal)
                        </td>
                        <td scope="col">
                            @Html.DisplayFor(modelItem => item.DateInscription, "{yyyy-MM-dd}")
                        </td>
                        <td scope="col">
                            @Html.DisplayFor(modelItem => item.Espece)
                        </td>
                    }
                }
                <td>
                    @Html.ActionLink("Modifier", "ModifierAnimal", new { idAnimal = @item.IdAnimal }) |
                    @Html.ActionLink("Supprimer", "Delete", new { idAnimal = @item.IdAnimal })
                </td>
            </tr>
        }
    </tbody>
</table>

@section DTListAnimals{

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

