@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AnimAlerte.Models.Utilisateur

@{ ViewData["Title"] = "S'enregistrer"; }


@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimAlerte</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Utilisateurs" asp-action="Login">AnimAlerte</a>
                @*<div class="navbar-nav flex-grow-1 justify-content-end">
                        <a class="nav-link active" asp-area="" asp-controller="Utilisateurs" asp-action="Create">S'enregistrer</a>
                        <a class="nav-link active" asp-area="" asp-controller="Utilisateurs" asp-action="Login">Se Connecter</a>
                    </div>*@
            </div>
        </nav>
    </header>

    <section class="h-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">@localizer["Register"]</h2>

                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-outline mb-4">
                                        <label asp-for="NomUtilisateur" class="form-label">@localizer["UserName"]</label>
                                        <input asp-for="NomUtilisateur" class="form-control form-control-lg" />
                                        <span asp-validation-for="NomUtilisateur" class="text-danger"></span>
                                        <p class="alert-danger">@ViewBag.Message</p>
                                    </div>
                                    <p class="alert-danger">@ViewBag.Message</p>
                                    <div class="form-outline mb-4">
                                        <label asp-for="Nom" class="form-label">@localizer["LastName"]</label>
                                        <input asp-for="Nom" class="form-control form-control-lg" />
                                        <span asp-validation-for="Nom" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label asp-for="Prenom" class="control-label">@localizer["FirstName"]</label>
                                        <input asp-for="Prenom" class="form-control form-control-lg" />
                                        <span asp-validation-for="Prenom" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label asp-for="Courriel" class="form-label">@localizer["Email"]</label>
                                        <input asp-for="Courriel" type="email" class="form-control form-control-lg" />
                                        <span asp-validation-for="Courriel" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label asp-for="MotDePasse" class="form-label">@localizer["Password"]</label>
                                        <input asp-for="MotDePasse" type="password" class="form-control form-control-lg" />
                                        <span asp-validation-for="MotDePasse" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label asp-for="NumTel" class="form-label">@localizer["Telephone"]</label>
                                        <input asp-for="NumTel" type="tel" class="form-control form-control-lg" />
                                        <span asp-validation-for="NumTel" class="text-danger"></span>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-2 text-body">@localizer["RegisterBtn"]</button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">@localizer["HaveAccount"] <a href="/Utilisateurs/Login" class="fw-bold text-body"><u>@localizer["Login"] </u></a></p>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - AnimAlerte<a asp-area="" asp-controller="Home" asp-action="Privacy"></a>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
