@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AnimAlerte.Models.Utilisateur

@{ ViewData["Title"] = localizer["DesactiverUse"]; }

<h1> @localizer["MsgConfirmation"]</h1>
<hr />
<div>

    <dl class="row">
        <dt class="col-sm-2">
            @localizer["UserName"]
        </dt>
        <dd class="col-sm-10">
           @Html.DisplayFor(model => model.NomUtilisateur)
        </dd>
        <dt class="col-sm-2">
            @localizer["LastName"]
         
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @localizer["FirstName"]
          
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class="col-sm-2">
          
            @localizer["Email"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courriel)
        </dd>
        
        <dt class="col-sm-2">
         
            @localizer["Telephone"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumTel)
        </dd>
    </dl>
    <form asp-action="DesactiverUtilisateur" asp-route-id="@Model.NomUtilisateur">
        <input type="hidden" asp-for="NomUtilisateur" />
        <input type="hidden" asp-for="Nom" />
        <input type="hidden" asp-for="Prenom" />
        <input type="hidden" asp-for="Courriel" />
        <input type="hidden" asp-for="MotDePasse" />
        <input type="hidden" asp-for="NumTel" />
        <input type="hidden" asp-for="IsAdmin" />
        <input type="hidden" asp-for="NomAdminDesactivateur" value=@ViewBag.admin />
        <input type="submit" value=" @localizer["DesactiverUse"]" class="btn btn-danger" /> 
    <a asp-action="Index"> @localizer["RetourListe"]</a>
    </form>

</div>
