@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AnimAlerte.Models.Utilisateur

@{ ViewData["Title"] = "Edit"; }

<h1>@localizer["ModifyProfile"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NomUtilisateur" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label">@localizer["Name"]</label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label">@localizer["FirstName"]</label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courriel" class="control-label">@localizer["Email"]</label>
                <input asp-for="Courriel" class="form-control" />
                <span asp-validation-for="Courriel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotDePasse" class="control-label">@localizer["Password"]</label>
                <input asp-for="MotDePasse" class="form-control" />
                <span asp-validation-for="MotDePasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumTel" class="control-label">@localizer["Telephone"]</label>
                <input asp-for="NumTel" class="form-control" />
                <span asp-validation-for="NumTel" class="text-danger"></span>
            </div>
      
            <div class="form-group">
            
                <button type="submit" class="btn btn-primary">@localizer["Modify"]</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
