@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<AnimAlerte.Models.Utilisateur>

@{ ViewData["Title"] = "Index"; }

<h1>@localizer["Profile"]</h1>

<p>
    @*<a asp-action="Create">Create New(to be removed)</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.NomUtilisateur)*@
                @localizer["UserName"]
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Nom)*@
                @localizer["Name"]
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Prenom)*@
                @localizer["FirstName"]
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Courriel)*@
                @localizer["Email"]
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MotDePasse)*@
                @localizer["Password"]
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NumTel)*@
                @localizer["Telephone"]
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.UtilisateurActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomAdminDesactivateurNavigation)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NomUtilisateur)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Prenom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Courriel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MotDePasse)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumTel)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.UtilisateurActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomAdminDesactivateurNavigation.NomAdmin)
        </td>*@
    <td>
        <a asp-action="Edit" asp-route-id="@item.NomUtilisateur">@localizer["Modify"]</a> |
        <a asp-action="Delete" asp-route-id="@item.NomUtilisateur">@localizer["Deactivate"]</a>
    </td>
</tr>}
    </tbody>
</table>
