@model IEnumerable<AnimAlerte.Models.Utilisateur>

@{
    ViewData["Title"] = "Index";
}

<h1>Profil</h1>

<p>
    <a asp-action="Create">Create New(to be removed)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courriel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotDePasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumTel)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UtilisateurActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomAdminDesactivateurNavigation)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courriel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotDePasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTel)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UtilisateurActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomAdminDesactivateurNavigation.NomAdmin)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.NomUtilisateur">Modifier</a> |
                <!--<a asp-action="Details" asp-route-id="@item.NomUtilisateur">Details</a> |-->
                <a asp-action="Delete" asp-route-id="@item.NomUtilisateur">Désactiver</a>
            </td>
        </tr>
}
    </tbody>
</table>
