@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<AnimAlerte.Models.Utilisateur>
<h1> @localizer["RechercherUtilisateur"]</h1>



<form action="/Utilisateurs/RechercheUtilisateur" method="post">
    <div class="mb-3">
        <input type="text" class="form-control" id="nomuser" name="nomuser" placeholder="@localizer["EnterUser"]">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">@localizer["Rechercher"]</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomUtilisateur)
                @localizer["UserName"]
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
                @localizer["LastName"]
            </th>
            <th>
                @localizer["FirstName"]
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @localizer["Email"]
                @Html.DisplayNameFor(model => model.Courriel)
            </th>
            <th>
                @localizer["Telephone"]
                @Html.DisplayNameFor(model => model.NumTel)
            </th>
            <th>
                @localizer["AdminorUser"] 
            </th>
            <th>@localizer["Action"]</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            @foreach (var item in Model)
            {



                <tr>
                    <td>
                        @item.NomUtilisateur
                    </td>
                    <td>
                        @item.Nom
                    </td>
                    <td>
                        @item.Prenom
                    </td>
                    <td>
                        @item.Courriel
                    </td>
                    <td>
                        @item.NumTel
                    </td>

                    @if (item.IsAdmin == 1)
                    {
                <td>
                    @localizer["Admin"] 
                </td>
                    }
                    else
                    {
                <td>
                    @localizer["User"] 
                </td>
                    }




                    <td>
                        @*<a asp-action="DesactiverUtilisateur" asp-route-id="@Model.NomUtilisateur">Désactiver</a>*@
                        @Html.ActionLink("Désactiver", "DesactiverUtilisateur", new { nomuser = @item.NomUtilisateur })
                    </td>
                </tr>
            }
        }



    </tbody>
</table>