@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<AnimAlerte.Models.Utilisateur>
<h1>Recherche Utilisateur</h1>



<form action="/Utilisateurs/RechercheUtilisateur" method="post">
    <div class="mb-3">
        <input type="text" class="form-control" id="nomuser" name="nomuser" placeholder="Entrez le nom utilisateur">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomUtilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courriel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumTel)
            </th>
            <th>
                Administrateur ou Utilisateur
            </th>
            <th>Opérations</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            @foreach (var item in Model)
            {



                <tr>
                    <td>
                        @item.NomUtilisateur
                    </td>
                    <td>
                        @item.Nom
                    </td>
                    <td>
                        @item.Prenom
                    </td>
                    <td>
                        @item.Courriel
                    </td>
                    <td>
                        @item.NumTel
                    </td>

                    @if (item.IsAdmin == 1)
                    {
                        <td>
                            Administrateur
                        </td>
                    }
                    else
                    {
                        <td>
                            Utilisateur
                        </td>
                    }




                    <td>
                        @*<a asp-action="DesactiverUtilisateur" asp-route-id="@Model.NomUtilisateur">Désactiver</a>*@
                        @Html.ActionLink("Désactiver", "DesactiverUtilisateur", new { nomuser = @item.NomUtilisateur })
                    </td>
                </tr>
            }
        }



    </tbody>
</table>