@model IEnumerable<AnimAlerte.Models.Annonce>

@{
    ViewData["Title"] = "Accueil";
}

<h1>Animals perdus ou trouvé</h1>

<p>
    <a asp-action="Create">Publier un annonce</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionAnnonce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnonceActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeAnnonce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAnimalNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomAdminDesactivateurNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomUtilisateurNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionAnnonce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnonceActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeAnnonce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAnimalNavigation.DescriptionAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomAdminDesactivateurNavigation.NomAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomUtilisateurNavigation.NomUtilisateur)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAnnonce">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAnnonce">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAnnonce">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
