@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model IEnumerable<AnimAlerte.Models.Annonce>

@{
    ViewData["Title"] = "Liste Annonces";
}

<h1>@localizer["ListAnnonces"]</h1>

<form action="/Annonces/RechercheAnnonce" method="post">
    <div class="mb-3">
        <input type="text" class="form-control" id="idAnnonce" name="idAnnonce" placeholder=@localizer["RecherchIdAnnonce"]>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">@localizer["Rechercher"]</button>
    </div>
</form>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Alert! </strong> @TempData["AlertMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">@localizer["Photo"]</th>

            <th>
                @Html.DisplayNameFor(model => model.IdAnnonce)
            </th>
            <th>
                @localizer["NomAnimal"]
            </th>
            <th>
                @localizer["TitreAnnonce"]
            </th>
            <th>
                @localizer["TypeAnnonce"]
            </th>
            <th>
                @localizer["Ville"]
            </th>
            <th>
                @localizer["DateCreation"]
            </th>
            @*<th>Action</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @foreach (var i in ViewBag.images)
                {
                    if (i.IdAnimal == item.IdAnimal)
                    {
                        <td>
                            @if (i.PathImage != null)
                            {
                                <img src="~/uploads/@i.PathImage" style="width:74px;" class="img-thumbnail" /> }
                            else
                            {
                                <img src="~/uploads/Noimg.jpg" style="width:74px;" class="img-thumbnail" />}
                        </td>
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.IdAnnonce)
                </td>

                @foreach (var a in ViewBag.animaux)
                {
                    if (a.IdAnimal == item.IdAnimal)
                    {
                        <td>@a.NomAnimal </td>
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeAnnonce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ville)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreation)
                </td>

                <td>

                    @Html.ActionLink("Désactiver", "DesactiverAnnonce", new { idAnnonce = item.IdAnnonce })
                </td>
            </tr>
        }
    </tbody>
</table>
