@*@model IEnumerable<AnimAlerte.ViewModels.AnnonceModifViewModel>*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<AnimAlerte.Models.Annonce>

@{ ViewData["Title"] = "Liste Annonces"; }

<h1>@localizer["ListAnnonces"]</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">@localizer["Photo"]</th>

            <th>
                @Html.DisplayNameFor(model => model.IdAnnonce)
            </th>
            <th>
                @localizer["NomAnimal"]
            </th>
            <th>
                @localizer["Proprietaire"]
            </th>
            <th>
                @localizer["TitreAnnonce"]
            </th>
            <th>
                @localizer["TypeAnnonce"]
            </th>
            <th>
                @localizer["Description"]
            </th>
            <th>
                @localizer["Ville"]
            </th>
            <th>
                @localizer["DateCreation"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @foreach (var i in ViewBag.images)
                {
                    if (i.IdAnimal == item.IdAnimal)
                    {
                        <td>
                            <a asp-action="Details" asp-route-id="@item.IdAnnonce">
                                @if (i.PathImage != null)
                                {
                                    <img src="~/uploads/@i.PathImage" style="width:74px;" class="img-thumbnail" />
                                }
                                else
                                {
                                    <img src="~/uploads/Noimg.jpg" style="width:74px;" class="img-thumbnail" />
                                }
                            </a>
                        </td>
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.IdAnnonce)
                </td>

                @foreach (var a in ViewBag.animaux)
                {
                    if (a.IdAnimal == item.IdAnimal)
                    {
                        <td>@a.NomAnimal </td>
                    }
                }



                <td>
                    @Html.DisplayFor(modelItem => item.NomUtilisateur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeAnnonce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionAnnonce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ville)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreation)
                </td>
                <td>  <a asp-action="Details" asp-route-id="@item.IdAnnonce">@localizer["VoirDetails"]</a> </td>


            </tr>
        }

    </tbody>


</table>