@model IEnumerable<AnimAlerte.Models.Annonce>

@{
    ViewData["Title"] = "Liste Annonces";
}

<h1>Liste des annonces</h1>

<form action="/Annonces/RechercheAnnonce" method="post">
    <div class="mb-3">
        <input type="text" class="form-control" id="idAnnonce" name="idAnnonce" placeholder="Entrez le numéro d'annonce'">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Photo</th>

            <th>
                @Html.DisplayNameFor(model => model.IdAnnonce)
            </th>
            <th>
                Nom Animal
            </th>
            <th>
                Proprietaire
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeAnnonce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionAnnonce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @foreach (var i in ViewBag.images)
                {
                    if (i.IdAnimal == item.IdAnimal)
                    {
                        <td>
                            @if (i.PathImage != null)
                            {
                                <img src="~/uploads/@i.PathImage" style="width:74px;" class="img-thumbnail" /> }
                            else
                            {
                                <img src="~/uploads/Noimg.jpg" style="width:74px;" class="img-thumbnail" />}
                        </td>
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.IdAnnonce)
                </td>

                @foreach (var a in ViewBag.animaux)
                {
                    if (a.IdAnimal == item.IdAnimal)
                    {
                        <td>@a.NomAnimal </td>
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.NomUtilisateur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeAnnonce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionAnnonce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ville)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreation)
                </td>

                <td>
                     <a asp-action="DesactiverAnnonce" asp-route-id="@item.IdAnnonce">Désactiver</a>
                    @Html.ActionLink("Désactiver", "DesactiverUnAnnonceParAdmin", new { idAnnonce = item.IdAnnonce })
                </td>
            </tr>
        }
    </tbody>
</table>
