@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AnimAlerte.Models.Annonce


@{
    ViewData["Title"] = localizer["CreateAnnonce"];
}

<h1>@localizer["CreateAnnonce"]</h1>
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["AlertMessage"]
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label">@localizer["Titre"]</label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ville" class="control-label">@localizer["Ville"]</label>
                <input asp-for="Ville" class="form-control" />
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>
            <p>@localizer["TypeAnnonce"]</p>
            <div class="form-group">
                <div class="form-check my-2">
                    <input type="radio" asp-for="TypeAnnonce" class="form-check-input" checked value="perdu" />
                    <label asp-for="TypeAnnonce" class="form-check-label">@localizer["Perdu"]</label>
                </div>
                <div class="form-check my-2">
                    <input type="radio" asp-for="TypeAnnonce" class="form-check-input" value="trouve" />
                    <label asp-for="TypeAnnonce" class="form-check-label">@localizer["Trouve"]</label>
                    <span asp-validation-for="TypeAnnonce" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionAnnonce" class="control-label">@localizer["Description"]</label>
                <textarea asp-for="DescriptionAnnonce" class="form-control" rows="3"></textarea>
                <span asp-validation-for="DescriptionAnnonce" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdAnimal" class="control-label">@localizer["Animal"]</label>

                <select asp-for="IdAnimal" class="form-control"
                        asp-items="@(new SelectList(ViewBag.animaux_User, "IdAnimal", "NomAnimal"))">
                </select>
                <span asp-validation-for="IdAnimal" class="text-danger"></span><br />
                @*<div class="form">
                    <p>@localizer["MsgAjoutAnimal"]</p>
                    <a asp-controller="Animals" asp-action="AjoutAnimal">
                        <input type="button" class="btn btn-success rounded" value="@localizer["AjoutAnimal"]" />
                    </a>
                </div>*@
                <p class="text-center text-muted mt-0 mb-0">@localizer["MsgAjoutAnimal"] <a href="/Animals/AjoutAnimal" class="fw-bold text-info"> @localizer["AjoutAnimal"] </a></p>


            </div>
            <div class="form-group">
                <input type="submit" value="@localizer["Afficher"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="TousMesAnnonces">
        <input type="button" class="btn btn-success rounded" value=@localizer["RetourListe"] />
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
