
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model AnimAlerte.Models.Annonce

@{
    ViewData["Title"] = @localizer["SuppAnnonce"];
}

<h1>@localizer["SuppAnnonce"]</h1>

<h3>@localizer["Confirmationdesact"]</h3>
<div>

    <dl class="row">

        <dt class="col-sm-2">
            @localizer["TitreAnnonce"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class="col-sm-2">
            @localizer["Description"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionAnnonce)
        </dd>
        <dt class="col-sm-2">
            @localizer["DateCreation"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class="col-sm-2">
            @localizer["Ville"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class="col-sm-2">
            @localizer["TypeAnnonce"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeAnnonce)
        </dd>
        <dt class="col-sm-2">
            @localizer["NomAnimal"]
        </dt>
        <dd class="col-sm-10">
            @ViewBag.animal.NomAnimal
        </dd>
    </dl>

    <form asp-action="DesactiverMonAnnonce">
        <input type="hidden" asp-for="IdAnnonce" />
        <input type="hidden" asp-for="NomUtilisateur" />
        <input type="hidden" asp-for="NomAdminDesactivateur" />
        <input type="hidden" asp-for="IdAnimal" />
        <input type="submit" value=@localizer["Supprimer"] class="btn btn-danger" /> |
        <a asp-action="TousMesAnnonces">@localizer["MesAnnonces"]</a>
    </form>
</div>
