@model AnimAlerte.Models.Annonce

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Annonce</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionAnnonce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionAnnonce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnonceActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnonceActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeAnnonce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeAnnonce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAnimalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAnimalNavigation.DescriptionAnimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomAdminDesactivateurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomAdminDesactivateurNavigation.NomAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomUtilisateurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomUtilisateurNavigation.NomUtilisateur)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAnnonce">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
