@model IEnumerable<AnimAlerte.Models.Annonce>

@{
    ViewData["Title"] = "Accueil";
}

<h1>Animaux perdus ou trouvés</h1>
<hr />
@*<p>
        <a asp-action="Create">Créer une annonce</a>
    </p>*@

<form asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Rechercher par lieu..." aria-label="Ville">
        <div class="input-group-append">
            <button class="btn btn-primary rounded-right" type="submit">Rechercher</button>
        </div>
    </div>

    <a asp-action="Index">Retour à la liste complète</a> |
    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Trier par date</a> 

        <a asp-action="Index" asp-route-annoncePerdu="@ViewData["LostAnimalFilter"]">
            <input type="button" class="btn btn-danger rounded" value="Animaux Perdus" />
        </a>

    <a asp-action="Index" asp-route-annonceTrouve="@ViewData["FoundAnimalFilter"]">
        <input type="button" class="btn btn-success rounded" value="Animaux Trouves"/>
    </a>
</form>

@*TODO : filter by type d'annonce(trouve ou perdu)*@

@foreach (var item in Model)
{
    @foreach (var i in ViewBag.images)
    {
        if (i.IdAnimal == item.IdAnimal)
        {
            <div class="container mt-5">
                <div class="card mt-4">
                    <div class="row">
                        <div class="col-md-3 ">
                            <a asp-action="Details" asp-controller="Annonces" asp-route-id="@i.IdAnimal">
                                @if (i.PathImage != null)
                                {
                                    <img src="~/uploads/@i.PathImage" class="card-img img-fluid" style="width:200px" />
                                }
                                else
                                {
                                    <img src="~/uploads/Noimg.jpg" class=" card-img img-fluid" style="width:200px" />
                                }
                            </a>
                        </div>
                        <div class="col-md-9 ">
                            <h3 class="card-header">@item.Titre</h3>
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.IdAnnonce)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(modelItem => item.IdAnnonce)
                                </dd>
                                <dt class="col-sm-4">
                                    Nom d'animal
                                </dt>
                                @foreach (var a in ViewBag.animaux)
                                {
                                    if (a.IdAnimal == item.IdAnimal)
                                    {
                                        <dd class="col-sm-8">
                                            @a.NomAnimal
                                        </dd>
                                    }
                                }
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.DateCreation)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(modelItem => item.DateCreation)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Ville)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(modelItem => item.Ville)
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.TypeAnnonce)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(modelItem => item.TypeAnnonce)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.DescriptionAnnonce)
                                </dt>
                                <dd class="col-sm-8 text-truncate" style="max-width: 300px;">
                                    @Html.DisplayFor(modelItem => item.DescriptionAnnonce)
                                </dd>
                                <td>  <a asp-action="Details2" asp-route-id="@item.IdAnnonce">Details</a> </td>
                            </dl>
                            @*<a asp-controller="Annonces" asp-action="Details" asp-route-id="@i.IdAnnonce" class="btn btn-primary">Voir Détails</a>*@
                            @*<button class="btn btn-primary"></button>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}



