@model IEnumerable<AnimAlerte.Models.Annonce>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Accueil";
}

<div class="jumbotron">
    <div class="container">
        <h1>Welcome, @AnimAlerte.Controllers.UtilisateursController.usersession!</h1>
        <p class="lead"></p>
        <p>This is an example for jumbotron.</p>
        <hr class="my-4"/>
        <p class="lead">
            <a asp-action="Create" class="btn btn-primary btn-lg" role="button">@localizer["CreateAd"]</a>
        </p>
    </div>
</div>

<h1>@localizer["LostFoundAnimals"]</h1>

@{ if (Model.Count() == 0)
    {
        <div class=" alert alert-danger">
            @localizer["NoSearchResult"]
        </div>
    }
    else if (ViewData["SearchAdResult"] != null)
    {
        <div class=" alert alert-success">
            @ViewData["SearchAdResult"]
        </div>
    }
}

<form asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="@localizer["SearchByLocation"]" />
        <button class="btn btn-outline-secondary" type="submit">@localizer["Search"]</button>
    </div>

    @*<a asp-action="Index">@localizer["BackToCompleteList"]</a>*@
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 mb-2 text-xs-center">
                <a asp-action="Index" asp-route-annoncePerdu="@ViewData["LostAnimalFilter"]">
                    <input type="button" class="btn btn-danger rounded" value="@localizer["LostAnimals"]" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 text-xs-center">
                <a asp-action="Index" asp-route-annonceTrouve="@ViewData["FoundAnimalFilter"]">
                    <input type="button" class="btn btn-success rounded" value="@localizer["FoundAnimals"]" />
                </a>
            </div>
        </div>
    </div>
</form>




@foreach (var item in Model)
{
    @foreach (var i in ViewBag.images)
    {
        if (i.IdAnimal == item.IdAnnonce)
        {
            <div class="container mt-5">
                <div class="card mt-4">
                    <div class="row">
                        <div class="col-md-3 ">
                            <a asp-action="Details" asp-controller="Annonces" asp-route-idAnimal="@item.IdAnnonce">
                                @if (i.PathImage != null)
                                {
                                    <img src="~/uploads/@i.PathImage" class="img-thumbnail" style="width:200px" />
                                }
                                else
                                {
                                    <img src="~/uploads/Noimg.jpg" class="img-thumbnail" style="width:200px" />
                                }
                            </a>
                        </div>
                        <div class="col-md-9 ">
                            <h3 class="card-header">@item.Titre</h3>
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @localizer["AdId"]
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(modelItem => item.IdAnnonce)
                                </dd>
                                <dt class="col-sm-4">
                                    @localizer["AnimalName"]
                                </dt>
                                @foreach (var a in ViewBag.animaux)
                                {
                                    if (a.IdAnimal == item.IdAnimal)
                                    {
                                        <dd class="col-sm-8">
                                            @a.NomAnimal
                                        </dd>
                                    }
                                }
                                <dt class="col-sm-4">
                                    @localizer["PublishDate"]
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(modelItem => item.DateCreation)
                                </dd>
                                <dt class="col-sm-4">
                                    @localizer["City"]
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(modelItem => item.Ville)
                                <dt class="col-sm-4">
                                    @localizer["AdType"]
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(modelItem => item.TypeAnnonce)
                                </dd>
                            </dl>
                            <a asp-controller="Annonces" asp-action="Details" asp-route-idAnimal="@item.IdAnnonce" class="btn btn-primary"> @localizer["SeeMoreDetails"]</a>

                        </div>
                    </div>
                </div>
            </div>
        }
    }
}



