@model IEnumerable<AnimAlerte.Models.Annonce>

@{
    ViewData["Title"] = "Liste des annonces";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Créer une annonce</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionAnnonce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TypeAnnonce)
            </th>
            <th>
               Nom Utilisateur
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionAnnonce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeAnnonce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomUtilisateurNavigation.NomUtilisateur)
            </td>
        </tr>
}
    </tbody>
</table>
