@model IEnumerable<AnimAlerte.Models.Annonce>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Accueil";
}

<h1>@localizer["AnimauxPerduTrouve"]</h1>
<hr />
<p>
    <a asp-action="Create">
        <input type="button" class="btn btn-info rounded" value="@localizer["CreerAnnonce"]" />
    </a>
</p>
<br />
<form asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control mr-sm-2" placeholder="@localizer["RechercheLieu"]" aria-label="Ville">
        <div class="input-group-append">
            <button class="btn btn-primary rounded-right" type="submit">@localizer["Rechercher"]</button> <a asp-action="Index">@localizer["RetourListeComplet"]</a>
        </div>
    </div>


    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@localizer["TrierDate"]</a>

    <a asp-action="Index" asp-route-annoncePerdu="@ViewData["LostAnimalFilter"]">
        <input type="button" class="btn btn-danger rounded" value="@localizer["AnimauxPerdu"]" />
    </a>

    <a asp-action="Index" asp-route-annonceTrouve="@ViewData["FoundAnimalFilter"]">
        <input type="button" class="btn btn-success rounded" value="@localizer["AnimauxTrouve"]" />
    </a>
</form>


@foreach (var item in Model)
{
    @foreach (var i in ViewBag.images)
    {
        if (i.IdAnimal == item.IdAnnonce)
        {
            <div class="container mt-5">
                <div class="card mt-4">
                    <div class="row">
                        <div class="col-md-3 ">
                            <a asp-action="Details" asp-controller="Annonces" asp-route-idAnimal="@item.IdAnnonce">
                                @if (i.PathImage != null)
                                {
                                    <img src="~/uploads/@i.PathImage" class="img-thumbnail" style="width:200px" />
                                }
                                else
                                {
                                    <img src="~/uploads/Noimg.jpg" class="img-thumbnail" style="width:200px" />
                                }
                            </a>
                        </div>
                        <div class="col-md-9 ">
                            <h3 class="card-header">@item.Titre</h3>
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.IdAnnonce)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(modelItem => item.IdAnnonce)
                                </dd>
                                <dt class="col-sm-4">
                                    @localizer["NomAnimal"]
                                </dt>
                                @foreach (var a in ViewBag.animaux)
                                {
                                    if (a.IdAnimal == item.IdAnimal)
                                    {
                                        <dd class="col-sm-8">
                                            @a.NomAnimal
                                        </dd>
                                    }
                                }
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.DateCreation)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(modelItem => item.DateCreation)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Ville)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(modelItem => item.Ville)
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.TypeAnnonce)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(modelItem => item.TypeAnnonce)
                                </dd>
                                @*<dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.DescriptionAnnonce)
                                    </dt>
                                    <dd class="col-sm-8 text-truncate" style="max-width: 300px;">
                                        @Html.DisplayFor(modelItem => item.DescriptionAnnonce)
                                    </dd>*@
                            </dl>
                            <a asp-controller="Annonces" asp-action="Details" asp-route-idAnimal="@item.IdAnnonce" class="btn btn-primary">@localizer["VoirDetails"]</a>

                        </div>
                    </div>
                </div>
            </div>
        }
    }
}



