@model IEnumerable<AnimAlerte.Models.Annonce>
<h1>Recherche Annonce</h1>


<form action="/Annonces/RechercheAnnonce" method="post">
    <div class="mb-3">
        <input type="text" class="form-control" id="idAnnonce" name="idAnnonce" placeholder="Entrez le numéro d'annonce...">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Nom Animal
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeAnnonce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {

                <tr>
                    @foreach (var a in ViewBag.animals)
                    {
                        if (a.IdAnimal == item.IdAnimal)
                        {
                            <td>@a.NomAnimal</td>
                        }
                    }
                    <td>
                        @item.Titre
                    </td>
                    <td>
                        @item.TypeAnnonce
                    </td>
                    <td>
                        @item.Ville
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreation, "{yyyy-MM-dd}")
                        @*@item.DateCreation*@
                    </td>
                    <td>
                        @Html.ActionLink("Désactiver", "DesactiverAnnonce", new { idAnnonce = @item.IdAnnonce }) |
                        @Html.ActionLink("Detail", "DetailAnnonce", new { idAnnonce = @item.IdAnnonce })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Alert! </strong> @TempData["AlertMessage"]
    </div>
}