@model AnimAlerte.Models.Annonce
<h1>Recherche Annonce</h1>

<form action="/Annonces/RechercheAnnonce" method="post">
    <div class="mb-3">
        <input type="text" class="form-control" id="idAnnonce" name="idAnnonce" placeholder="Entrez le numéro d'annonce'">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAnnonce)
            </th>
            <th>
                Nom Animal
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomUtilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeAnnonce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionAnnonce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

        <tr>
            <td>
                @Model.IdAnnonce
            </td>
            @foreach (var a in ViewBag.animals)
            {
                if (a.IdAnimal == Model.IdAnimal)
                {
                    <td>@a.NomAnimal</td>
                }
            }
            <td>
                @Model.NomUtilisateur
            </td>
            <td>
                @Model.Titre
            </td>
            <td>
                @Model.TypeAnnonce
            </td>
            <td>
                @Model.DescriptionAnnonce
            </td>
            <td>
                @Model.Ville
            </td>
            <td>
                @Model.DateCreation
            </td>
            <td>
                <a asp-action="DesactiverAnnonce" asp-route-id="@Model.IdAnnonce">Désactiver</a>
            </td>
        </tr>
        }

    </tbody>
</table>
