@model IEnumerable<AnimAlerte.Models.Annonce>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["RechercheAnn"];
}

<h1>@localizer["RechercheAnn"]</h1>


<form action="/Annonces/RechercheAnnonce" method="post">
    <div class="mb-3">
        <input type="text" class="form-control" id="idAnnonce" name="idAnnonce" placeholder="@localizer["RechercheIdAnnonce"]" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">@localizer["Rechercher"]</button>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @localizer["NomAnimal"]
            </th>
            <th>
                @localizer["TitreAnnonce"]
            </th>
            <th>
                @localizer["TypeAnnonce"]
            </th>
            <th>
                @localizer["Ville"]
            </th>
            <th>
                @localizer["DateCreation"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {

                <tr>
                    @foreach (var a in ViewBag.animals)
                    {
                        if (a.IdAnimal == item.IdAnimal)
                        {
                            <td>@a.NomAnimal</td>
                        }
                    }
                    <td>
                        @item.Titre
                    </td>
                    <td>
                        @item.TypeAnnonce
                    </td>
                    <td>
                        @item.Ville
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreation, "{yyyy-MM-dd}")

                    </td>
                    <td>
                        <a asp-action="DesactiverAnnonce" asp-route-idAnnonce="@item.IdAnnonce"> @localizer["Desactiver"]</a> |
                        <a asp-action="DetailAnnonce" asp-route-idAnnonce="@item.IdAnnonce"> @localizer["Detail"]</a>


                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@{ if (Model.Count() == 0)
    {
        <div class=" alert alert-danger">
            @localizer["AlertMessageAnnonces"]
        </div>
    }
    else if (ViewData["AlertMessageAnnonces"] != null)
    {
        <div class=" alert alert-success">
            @ViewData["AlertMessageAnnonces"]
        </div>
    }
}