@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model IEnumerable<AnimAlerte.Models.Annonce>

@{
    ViewData["Title"] = "Mes Annonces";
}

<h1>@localizer["MesAnnonces"]</h1>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
       @TempData["AlertMessage"]
    </div>
}
<p>
    <a asp-action="Create">@localizer["CreateAnnonce"]</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @localizer["TitreAnnonce"]
            </th>
            <th>
                @localizer["TypeAnnonce"]
            </th>
            <th>
                @localizer["Ville"]
            </th>
            <th>
                @localizer["Description"]
            </th>
            <th>
                @localizer["DateCreation"]
            </th>
            <th>  @localizer["Action"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeAnnonce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ville)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionAnnonce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreation)
                </td>
                <td>
                    <a asp-action="ModifierMonAnnonce" asp-route-idAnnonce="@item.IdAnnonce"> @localizer["Modifier"]</a> |
                    <a asp-action="DesactiverMonAnnonce" asp-route-idAnnonce="@item.IdAnnonce"> @localizer["Supprimer"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
