@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AnimAlerte.Models.DetailsContact

@{ ViewData["Title"] = localizer["DeleteContact"]; }

<h1>@localizer["DeleteContact"]</h1>

<h3>@localizer["AreYouSure"]</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAjout)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAjout)
        </dd>
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NomUtilisateurCreateurNavigation)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NomUtilisateurCreateurNavigation.NomUtilisateur)
            </dd class>*@
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.NomUtilisateurFavorisNavigation)*@
            @Html.DisplayNameFor(model => model.NomUtilisateurFavoris)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.NomUtilisateurFavorisNavigation.NomUtilisateur)*@
            @Html.DisplayFor(model => model.NomUtilisateurFavoris)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="NomUtilisateurCreateur" />
        <input type="hidden" asp-for="NomUtilisateurFavoris" />
        <input type="submit" value="Supprimer(X)" class="btn btn-danger" /> |
        <a asp-action="Index">Retour a la liste</a>
    </form>
</div>
