@model IEnumerable<AnimAlerte.Models.DetailsContact>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste Contact Favoris</h1>

<p>
    <a asp-action="Search">Rajouter un Contact</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAjout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomUtilisateurFavoris)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
   
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAjout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomUtilisateurFavoris)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.NomUtilisateurFavoris })
                @Html.ActionLink("Delete", "Delete", new { id = item.NomUtilisateurFavoris })
                @*<a asp-action="Details" asp-route-id="@item.NomUtilisateurFavoris">Détails</a> |*@
                <a asp-action="Delete" asp-route-id="@item.NomUtilisateurFavoris">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
