@model IEnumerable<AnimAlerte.Models.DetailsContact>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste Contact Favoris</h1>

<p>
    <a asp-action="Create">Rajouter un Contact(X)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAjout)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.NomUtilisateurCreateurNavigation)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NomUtilisateurFavorisNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAjout)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.NomUtilisateurCreateurNavigation.NomUtilisateur)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.NomUtilisateurFavorisNavigation.NomUtilisateur)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.NomUtilisateurFavorisNavigation">Détails(X)</a> |
                <a asp-action="Delete" asp-route-id="@item.NomUtilisateurFavorisNavigation">Supprimer(X)</a>



                @*Html.ActionLink("Modifier", "ModifierAnimal", new { idAnimal = @item.IdAnimal }) |
                <a asp-action="Delete" asp-route-id="@item.NomUtilisateurFavoris">Supprimer</a> |
                @Html.ActionLink("Supprimer", "Delete", new { NomUtilisateursFavoris = @item.NomUtilisateurFavoris })*@
               
            </td>
        </tr>
}
    </tbody>
</table>
