@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<AnimAlerte.Models.Utilisateur>

@{ ViewData["Title"] = "Search"; }

<h1>@localizer["SearchContact"]</h1>


<p>
    @using (Html.BeginForm("Search", "DetailsContacts", FormMethod.Get))
    {
<input type="text" name="utilisateursSearch" /> @*<input class="btn btn-primary text-white" type="submit" value="Rechercher" name="submit" />*@
                <button type="submit" class="btn btn-primary text-white">@localizer["Search"]</button>}
</p>
@if (TempData["AlertMessage"] != null)
{
<div class="alert-success">
    <strong></strong> @TempData["AlertMessage"]
</div>      }
@*@if (TempData["AlertMessage"] == null)
{
<div class="alert-danger">
    <strong></strong> @localizer["NotFound"]
</div>}*@ 
<p class="alert-danger">@ViewBag.Message</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.NomUtilisateur)*@
                @localizer["UserName"]
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Nom)*@
                @localizer["Name"]
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Prenom)*@
                @localizer["FirstName"]
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Courriel)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.MotDePasse)
                </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.NumTel)*@
                @localizer["Telephone"]
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.UtilisateurActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomAdminDesactivateurNavigation)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NomUtilisateur)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Prenom)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.Courriel)
        </td>*@
    @*<td>
            @Html.DisplayFor(modelItem => item.MotDePasse)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.NumTel)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.UtilisateurActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomAdminDesactivateurNavigation.NomAdmin)
        </td>*@
    <td>

        @*<a asp-action="Rajouter" asp-route-id="@item.NomUtilisateur">Rajouter(X)</a>*@



        <a asp-action="Rajouter" asp-route-id="@item.NomUtilisateur">@localizer["AddContact"]</a>
        @*@Html.ActionLink("Rajouter(X)", "Rajouter", new { NomUtilisateurCreateur = item.DetailsContactNomUtilisateurCreateurNavigations, NomUtilisateurFavoris = item.DetailsContactNomUtilisateurFavorisNavigations })*@

    </td>
</tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">@localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}