@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AnimAlerte.Models.Administrateur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Administrateur</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @localizer["DateCreation"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class="col-sm-2">
            @localizer["NomAdmin"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomAdminNavigation.NomUtilisateur)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NomAdmin"> @localizer["Edit"]</a> |
    <a asp-action="Index">@localizer["RetourListe"]</a>
</div>
